:root {
  --main-bg-color: rgb(247, 247, 247);
  --main-card-color: rgb(255, 255, 255);
  --mian-border-color: rgba(255, 255, 255, 0.09);
  --main-box-shadow: rgba(0, 0, 0, 0.1);
  --cover-fill-color: 247, 247, 247;
  // 背景
  --loading-cover: radial-gradient(circle, #4dabf7, #339af0, #228be6, #1c7ed6);
  --error-cover: radial-gradient(circle, #ff8787, #ff6b6b, #fa5252, #f03e3e);
  --warn-cover: radial-gradient(circle, #ffa94d, #ff922b, #fd7e14, #f76707);
  --unknown-cover: radial-gradient(circle, #ced4da, #adb5bd, #868e96, #495057);
  --normal-cover: radial-gradient(circle, #69db7c, #51cf66, #40c057, #37b24d);
  // 主颜色
  --loading-color: #228be6;
  --normal-color: #51cf66;
  --error-color: #fa5252;
  --warn-color: #fd7e14;
  --unknown-color: #868e96;
  // 深色模式
  &.dark-mode {
    --main-bg-color: rgb(36, 36, 36);
    --main-card-color: rgb(66, 66, 66);
    --mian-border-color: rgba(0, 0, 0, 0.1);
    --cover-fill-color: 36, 36, 36;
    --cover-filter: brightness(80%);
  }
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  -webkit-user-drag: none;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
  overflow: hidden;
}

#nuxt-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.n-scrollbar {
  .n-scrollbar-rail {
    right: 0 !important;
  }
  .n-scrollbar-rail__scrollbar {
    z-index: 9999 !important;
  }
}

.n-back-top {
  z-index: 9999;
}
